Package: net.cadoth.otaenabler
Name: OTAEnabler
Depends: awk | gawk, com.bingner.plutil, file-cmds
Conflicts: com.apple.memecity, jp.akusio.kernbypass, jp.akusio.kernbypassbeta, jp.akusio.kernbypass-unofficial
Version: 0.4.2
Architecture: iphoneos-arm
Description: Re-enable OTA software updates blocked by various methods
Depiction: https://repo.alexia.lol/depictions/net.cadoth.otaenabler
SileoDepiction: https://repo.alexia.lol/sileo-depictions/net.cadoth.otaenabler
Maintainer: alexia <me@alexia.lol>
Author: alexia <me@alexia.lol>
Section: System
